<h1>Save any kind of movies</h1>
<h3>My Lists</h3>
<%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
<ul>
<% @lists.each do |list| %>
  <li><%= link_to list_path(list) do %>
  <%= list.name %></li>
  <% end %>
<% end %>
</ul>
